@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');


:root{
    --blue: #4D77FF;
    --green: #45C1AB;
    --grey: #1B1B14;
    --black: #040403;
}
*{
    margin: 0;
    padding: 0;
    
}
header{
    background-color: white; 
    height: 95vh;
}

body{
   overflow-x: hidden;
   width: 100vw;
}
nav{
    position: fixed;
    left: 5vw;
    right: 5vw;
    top: 1.7%;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: #4D77FF;
    border-radius: 10px;
    border: 2px solid #4D77FF;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
    font-family: 'Inter', sans-serif; 
}
  
  #manhome{
    /*imagem responsiva*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 70%;
  }


#tituhome{
    position: absolute;
    top: 65%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
}

#paragrafohome{
    position: absolute;
    top: 73%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
    font: normal 600 2em 'Poppins', sans-serif;
}

#paragrafohome strong{
    font-weight: 700;
    color: var(--green);
}

.listmenu{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 50px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 5; 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}

  #btnlogin{
    margin: auto;
    width: 30vw;
    height: 5vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 30;
  }

  #btnlogin:hover{
    background-color: #45C1AB;
    color: black;
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    transition: 500ms ease-in;
  }

.listmenu.active{
    transform: translateX(0);
}
/*
.listmenu li{

}*/

.listmenu > li > a{
    text-decoration: none;
    color: black;
}
.logo{
    color: rgb(255, 255, 255);
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.4em;
}
#iconMenu{
    padding-right: 15px;
    font-size: 1.8em;
    display: block;
    color: rgb(255, 255, 255);
    z-index: 100;
}

#iconMenu.active{
  color: var(--blue);
}


/*IA*/
.chat-toggle-button {
    position: fixed;
    bottom: 17px;
    right: 17px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: var(--blue);
    color: #f7f7f7;
    border: none;
    cursor: pointer;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-toggle-button:hover{
    background-color: #1348f8;
  }

  #chatIA{/*icon chat*/
    font-size: 2.3em;
  }
  
  .box-questions.show { 
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    width: 90vw;
    height: 80vh;
    transition: width 0.4s ease, height 0.4s ease;
  }
  
  .box-questions {
    position: fixed;
    right: 10vh;
    top: 9vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 0;
    height: 0;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: width 0.4s ease, height 0.4s ease, left 0.4s ease;
    z-index: 100;
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.10);
  }
  
  .show {
    right: 5vw;
    left: 5vw;
  }
  
  .header {
    background-color: var(--green);
    padding: 10px;
    color: #FFFFF6;
    border-radius: 10px 10px 0 0;
    font: normal 600 1.5em 'Poppins', sans-serif;
    text-align: left;
  }
  
  .footer {
    background-color: var(--green);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-shrink: 0;
  }
  
  input {
    width: 70vw;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px auto;
    word-wrap: break-word;
    font: normal 500 1em 'Poppins', sans-serif;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 10vw;
    border: none;
  }
  
  #icon-send{
    font-size: 2.2em;
    color: #FFFEF6;

  }
  button:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #949494;
  }
  
  #history {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
  
  .box-my-message {
    display: flex;
    justify-content: flex-end;
  }
  
  .box-response-message {
    display: flex;
    justify-content: flex-start;
  }
  
  .my-message,
  .response-message {
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    margin: 0;
  }
  
  .my-message {
    text-align: right;
    background-color: #5959ff;
    font: normal 500 0.9em 'Poppins', sans-serif;
  }
  
  .response-message {
    text-align: left;
    background-color: #808080;
    font: normal 500 0.9em 'Poppins', sans-serif;
  }

  /* finish IA */


  /*section porque usar*/

  .PorqueUsar{
    height: 560px;
  }

  .titulosections{
    font: normal 700 1.7em 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
    color: var(--blue);
  }
 
  .carousel-container {
    position: relative;
    margin: 0 15px;
    touch-action: pan-y;
    width: 90vw;
    overflow-x: hidden;
  }
  .carousel {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    gap: 0px;
    transition: transform 0.3s ease-in-out;
  }

 .carousel-item{
   flex-shrink: 0;
 }

 /*finish por que usar*/


 /* Posts do momento*/
 .Assuntos-momento{
   height: 70vh;
   background-color: var(--grey);
   padding-bottom: 10vh;
 }

 .content{
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 0;
  
 }

 .content-2 img{
    border-radius: 12px;
    flex-grow: 1;
    width: 40vw;
 }

 #titulo-post-momento{
  color: white;
 }

 .paramomento{
  
  font: lighter 1.1em 'Manrope', sans-serif;
  color: white;
  
 }

 /*end posts-momento*/

 /*Produtos-marketing(section)*/
 .Produtos-marketing{
  padding-top: 45vh;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;  
  justify-content: start;
  align-items: start;
  gap: 1px;
  background-color: var(--green);
 }

 #titulo-produto{
  padding: 0px 20px 7px 20px;
  margin: 0;
  font: normal 700 2em 'Manrope', sans-serif;
  color: #FFFFF6; 
  letter-spacing: 1px;
  text-align: left;
 }

 .text-produto-marketing{  
  padding: 0px 20px 20px 20px;
  width: 85vw;
  font: normal 500 1em 'Poppins', sans-serif;
  color: #FFFEF6;
  letter-spacing: 0.2px;
  text-align: left;
 }

 #btn-produto-marketing{
   margin: 20px 20px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   font: normal 600 1em 'Poppins', sans-serif;
   border: 2px solid #FFFFF6;
   color: white;
   width: 50vw;
   text-align: justify;
 }

 #btn-produto-marketing:hover{
  background-color: var(--blue);
  border: none;
  transition: 0.3s ease-in;
}

#whey-produto{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -75%);
  width: 80vw;
  padding-bottom: 0px;
  filter: drop-shadow(0px 20px 27px rgba(0, 0, 0, 0.10));
}


/*produtos mais vendidos*/
.produtos-carousel{
  height: 70vh;
  background-color: #FFFEFF;;
}

#titulo-carousel-produto{
  padding: 40px 30px;
  text-align: center;
}

.carousel-container-produto{
  padding-top: 10px;
  width: 90vw;
  overflow-x: hidden;
  height: 50vh;
  margin: auto;
  touch-action: pan-y;
}

.carousel-produto{
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  gap: 30px;
  transition: transform 0.3s ease-in-out;
}

.item-produto{
  position: relative;
  width: 53vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  border: solid 2px var(--blue)
}

.info{
  position: absolute;
  height: 25%;
  top: 34vh;
  left: 50%;
  transform: translate(-50%, -85%);
}

.info p{
  font: normal bolder 0.9em 'Manrope', sans-serif;
}
.info .preco{
  color: red;
}
.produto-mais-vendidos{
  position: absolute;
  filter: drop-shadow(0px 20px 27px rgba(0, 0, 0, 0.10));
  width: 55vw;  
  top: 57%;
  left: 50%;
  transform: translate(-50%, -85%);
}
.btn-produto{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -60%);
    margin: auto;
    width: 22vw;
    height: 4vh;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 10px;
}

.btn-produto:hover{
  background-color: #50d9c0;

}

#produto-ver-mais{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 35px;
  border-radius: 12px;
  padding: 5px;
  background-color: transparent;
  color:  var(--blue);
  font: normal 600 0.9em 'Poppins', sans-serif;
  margin-top: 20px;
}

#produto-ver-mais:hover{
  padding-left: 20px;
  transition: 500ms;
}

/*cellphones 600px responsives.*/
@media (min-width: 600px) and (max-width: 700px){
  .produto-mais-vendidos{
    width: 50vw;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -77%);
  }

  .info{
    top: 90%;
    font-size: 1.1em;
  }

  .btn-produto{
    top: 77%;
  }
}
/* FINISHED 600px responsive*/

/*vantagens-conta*/
.vantagens-conta{
  height: 132vh;
  background-color: var(--grey);
}

#titulo-vantagens-conta{
  color: white;
  padding: 50px;
}

#titulo-vantagens-conta > strong{
  color: var(--green);
}
.container-vantagens{
  width: 65vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;

}
.item-vantagem{
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

}
#icons-vantagens{
   font-size: 12vw;
   color: var(--blue);
   position: absolute;
   top: 10px;
   padding-top: 5px;
   color: var(--blue);
   
}
.titulo-itens{
 position: absolute;
 top: 80px;
 font: normal bold 0.9em 'Poppins', sans-serif;
 color: black;

}
.content-itens{
  position: absolute;
  top: 110px;
  font: normal lighter 0.9rem 'Manrope', sans-serif;
  color: black;
  text-align: center;
  font-size: 0.8em;
  padding: 0px 20px;
}


/*Responsividade cellphones 600px till 712px.*/
@media (min-width: 600px) and (max-width: 712px){
  .titulo-itens{
    top: 95px;
    font-size: 1.1em;
  }

  .content-itens{
    top: 130px;
    font-size: 0.9em;
  }
}
/*Nossos médicos*/
.medicos{
  height: 75vh;
  background-color: white;
}
#titulo-medicos{
  padding: 30px 0px;
}
.paragrafo-medicos{
  text-align: center;
  padding: 0px 30px;
  font: normal 500 1em 'Manrope', sans-serif;
}

.medico-container{
  height: 90vh;
  width: 85vw;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.medico-item{
  width: 60vw;
  height: 30vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5959ff;
  border-radius: 12px;
}

#medico-1{
  background-image: url('../img/medicaW.png');
}

#medico-2{
  background-image: url('../img/medicoM.png');
}

#medico-3{
  background-image: url('../img/medicoWS.jpg');
}

.content-medicos{
  padding: 15px 0 35px 0;
  font: lighter 1em 'Manrope', sans-serif;
}


/*Perguntas Frequentes*/
#titulo-faq{
  padding-bottom: 45px;
  
}
.perguntas-frequentes{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 80vw;
  margin: 190px auto 0px auto;
  padding: 20px;
}

.frequentes-titulos{
  font: normal 500 1.1em 'Poppins', sans-serif;
}

.question{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#icons-frequentes{
  font-size: 30px;
  color: var(--blue);
}

.line-faq{
  background-color: var(--blue);
  opacity: 50%;
  height: 1px;
  border: none;
  margin-bottom: 7px;
}

.answer{
  padding-top: 2px;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
}

.answer p {
  font: normal 500 0.9em 'Manrope', sans-serif;
}

.faq.active .answer{
  max-height: 200px;
  animation: fade 500ms ease-in-out;
}

.faq.active #icons-frequentes{
  transform: rotate(180deg);
}

#icons-frequentes{
  transition: transform 0.3s ease-in;
}

@keyframes fade{
  from{
    opacity: 0;
    transform: translateY(-10px)
  }to{
    opacity: 1;
    transform: translateY(0px);
  }
}

footer{
  padding: 35px;
  height: 50vh;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}
.titulos-footer{
  font: normal 700 1.2em 'Poppins', sans-serif;
  color: white;
  padding-bottom: 1px;
}

.content-footer{
  font: normal 500 1em 'Manrope', sans-serif;
  color: white;
  padding-top: 3px;
}

.line-footer{
  background-color: var(--blue);
  opacity: 50%;
  height: 1px;
  border: none;
}

#btn-footer{
    width: 30vw;
    height: 4vh;
    background-color: rgb(57, 56, 56);
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 5px 10px;
    margin-top: 10px;
}

#btn-footer:hover{
  background-color: #25D366;
  color: black;
  transition-duration: 500ms;
}

.icons-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 18px;
}
.icons-footer{
  color: var(--green);
  padding-top: 17px;
  cursor: pointer;
}

@media (min-width: 375px) and (max-width: 390px){


  .listmenu{
    gap: 70px;
  }
  #paragrafohome{
    position: absolute;
    top: 75%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
    font: normal 600 2em 'Poppins', sans-serif;
}

.produtos-carousel{
  height: 80vh;
  background-color: #FFFEFF;;
}

.produto-mais-vendidos{
  position: absolute;
  filter: drop-shadow(0px 20px 27px rgba(0, 0, 0, 0.10));
  width: 47vw;  
  top: 57%;
  left: 50%;
  transform: translate(-50%, -85%);
}

.vantagens-conta{
  height: 168vh;
  background-color: var(--grey);
}

.container-vantagens{
  width: 65vw;
  height: 150vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;

}

.item-vantagem{
  position: relative;
  width: 100%;
  height: 27vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

}

.perguntas-frequentes{
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 80vw;
  margin: 100px auto 0px auto;
  padding: 20px;
}

footer{
  height: 71vh;
}
}

/*RESPONSIVIDADE TABLETS*/
@media (min-width: 768px) and (max-width: 1024px){

  #manhome{
    /*imagem responsiva*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 70%;
  }

  #tituhome{
    position: absolute;
    top: 65%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
}

#paragrafohome{
    position: absolute;
    top: 73%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
    font: normal 600 2em 'Poppins', sans-serif;
}

}












@media (min-height: 500px) and (max-height: 600px){
  

  nav{
    height: 5vh;
    width: 85vw;
    padding: 7px;
    left: 5vw;
    right: 5vw;
    top: 1.7%;
  }


  .listmenu{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    gap: 50px;

}

  .img-manhome{
    position: relative;
    height: 320px;
    width: 320px;
    top: 130px;
    
  }

  #manhome{
    position: absolute;
  }

  #tituhome{
    top: 330px;
    font-size: 2.3em;
  }

  #paragrafohome{
    line-height: 40px;
    top: 380px;
    font-size: 1.8em;
  }

  .Assuntos-momento{
    height: 90vh;
  }

  .PorqueUsar{
    height: 87vh;
  }

  .carousel{
    width: 80vw;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .carousel-item{
    width: 250px;
    height: 250px;
  }


  /*PRODUTOS*/

  .Produtos-marketing{
    height: 70vh;
  }
  .img-whey-produto{
    position: relative;
    width: 300px;
    height: 300px;
    top: -40px;
    
  }

  #whey-produto{
    position: absolute;
  }

  /*PRODUTOS MAIS VENDIDOS*/
  .produtos-carousel{
    height: 90vh;
  }

  .img-mais-vendido{
    position: relative;
    width: 80px;
    height: 80px;
    top: 100px;
    left: 25%;
  }

  .produto-mais-vendidos{
    position: absolute;
  }

  .info{
    top: 88%;
  }

  .info p{
    font-size: 0.8em;
    padding-top: 10px;
  }

    .preco{
      font-size: 0.8em;
      position: absolute;
      top: 15px;
    }

  .btn-produto{
    margin-top: 8px;
    padding: 10px 20px;
    font-size: 0.7em;
    border-radius: 8px;
  }

  .titulosections{
    font-size: 1.5em;
  }

  /*VANTAGENS-CONTA*/
  .vantagens-conta{
    height: 180vh;

  }

  .container-vantagens{
    height: 180vh;
    gap: 30px;

  }

  .item-vantagem{
    height: 30vh;
   
  }

  .item-vantagem .titulo-itens{
    top: 65px;
  }

  .item-vantagem .content-itens{
    top: 90px;
  }

  /*medicos*/

  .medicos{
    height: 110vh;
  }

  .medico-container{
    height: 110vh;
  }

  .medico-item{
    width: 60vw;
    height: 50vh;
  }

  .perguntas-frequentes{
    padding-top: 100px;
    padding-bottom: 120px;
  }
  
  footer{
    height: 80vh;
  }
}


.login { display: none; }
#imgProfile { display: none; }