@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');


:root{
    --blue: #4D77FF;
    --green: #45C1AB;
    --grey: #1B1B14;
    --black: #040403;
}
*{
    margin: 0;
    padding: 0;
    
}
header{
    background-color: white; 
    height: 95vh;
}

body{
   overflow-x: hidden;
   width: 100vw;
       
}
nav{
    position: fixed;
    left: 5vw;
    right: 5vw;
    top: 1.7%;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 6vh;
    background-color: #4D77FF;
    border-radius: 10px;
    border: 2px solid #4D77FF;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.10);
    font-family: 'Inter', sans-serif; 
}
  
  #manhome{
    /*imagem responsiva*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 70%;
  }

.chatIA-circle{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 54px;
   height: 54px;
   border-radius: 50%;
   background-color: #4D77FF;
   position: fixed;
   bottom: topvh;
   right: 3;

}

#tituhome{
    position: absolute;
    top: 65%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
}

#paragrafohome{
    position: absolute;
    top: 73%;
    left: 5%;
    font:  bold 3.3em 'Poppins', sans-serif;
    font: normal 600 2em 'Poppins', sans-serif;
}

#paragrafohome strong{
    font-weight: 700;
    color: var(--green);
}

.listmenu{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    align-items: start;
    padding-left: 50px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 5; 
    font-family: 'Poppins', sans-serif;
}

  #btnlogin{
    margin: auto;
    width: 30vw;
    height: 5vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 30;
  }

  #btnlogin:hover{
    background-color: #45C1AB;
    color: black;
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    transition: 500ms ease-in;
  }

.listmenu.active{
    transform: translateX(0);
}
/*
.listmenu li{

}*/

.listmenu > li > a{
    text-decoration: none;
    color: black;
}
.logo{
    color: rgb(255, 255, 255);
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.4em;
}
#iconMenu{
    padding-right: 15px;
    font-size: 1.8em;
    display: block;
    color: rgb(255, 255, 255);
    z-index: 100;
}

#iconMenu:hover{
  cursor: pointer; 
}

/*IA*/
.chat-toggle-button {
    position: fixed;
    bottom: 17px;
    right: 17px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--blue);
    color: #f7f7f7;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-toggle-button:hover{
    background-color: #1348f8;
  }

  #chatIA{/*icon chat*/
    font-size: 2.3em;
  }
  
  .box-questions.show { 
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    width: 90vw;
    height: 80vh;
    transition: width 0.4s ease, height 0.4s ease;
  }
  
  .box-questions {
    position: fixed;
    right: 10vh;
    top: 9vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 0;
    height: 0;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: width 0.4s ease, height 0.4s ease, left 0.4s ease;
    z-index: 100;
    box-shadow: 0px 20px 27px 0px rgba(0, 0, 0, 0.10);
  }
  
  .show {
    right: 5vw;
    left: 5vw;
  }
  
  .header {
    background-color: var(--green);
    padding: 10px;
    color: #FFFFF6;
    border-radius: 10px 10px 0 0;
    font: normal 600 1.5em 'Poppins', sans-serif;
    text-align: left;
  }
  
  .footer {
    background-color: var(--green);
    border-radius: 0 0 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-shrink: 0;
  }
  
  input {
    width: 70vw;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px auto;
    word-wrap: break-word;
    font: normal 500 1em 'Poppins', sans-serif;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 10vw;
    border: none;
  }
  
  #icon-send{
    font-size: 2.2em;
    color: #FFFEF6;

  }
  button:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #949494;
  }
  
  #history {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
  }
  
  .box-my-message {
    display: flex;
    justify-content: flex-end;
  }
  
  .box-response-message {
    display: flex;
    justify-content: flex-start;
  }
  
  .my-message,
  .response-message {
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    margin: 0;
  }
  
  .my-message {
    text-align: right;
    background-color: #5959ff;
    font: normal 500 0.9em 'Poppins', sans-serif;
  }
  
  .response-message {
    text-align: left;
    background-color: #808080;
    font: normal 500 0.9em 'Poppins', sans-serif;
  }

  /* finish IA */


  main{
    height: 100vh;
  }

  /*section porque usar*/

  .PorqueUsar{
    height: 560px;
  }

  .titulosections{
    font: normal 700 1.7em 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
    color: var(--blue);
  }
 
  .carousel-container {
    position: relative;
    margin: 0 15px;
    touch-action: pan-y;
    width: 80vw;
  }
  .carousel {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
  }

 .carousel-item{
   flex-shrink: 0;
 }

 /*finish por que usar*/


 /* Posts do momento*/
 .Assuntos-momento{
   height: 70vh;
   background-color: var(--grey);
   padding-bottom: 10vh;
 }

 .assuntos-container{
  position: relative;
 }

 .content{
  position: absolute;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0px 10px 0px 10px;
 }

 .content-2 img{
    border-radius: 12px;
    width: 40vw;
 }

 #titulo-post-momento{
  color: white;
 }

 .paramomento{
  
  font: lighter 1.1em 'Manrope', sans-serif;
  color: white;
  
 }

 /*end posts-momento*/

 /*Produtos-marketing(section)*/
 .Produtos-marketing{
  padding-top: 45vh;
  position: relative;
  height: 50vh;
  display: flex;
  flex-direction: column;  
  justify-content: start;
  align-items: start;
  gap: 1px;
  background-color: var(--green);
 }

 #titulo-produto{
  padding: 0px 20px 7px 20px;
  margin: 0;
  font: normal 700 2em 'Manrope', sans-serif;
  color: #FFFFF6; 
  letter-spacing: 1px;
  text-align: left;
 }

 .text-produto-marketing{  
  padding: 0px 20px 20px 20px;
  width: 85vw;
  font: normal 500 1em 'Poppins', sans-serif;
  color: #FFFEF6;
  letter-spacing: 0.2px;
  text-align: left;
 }

 #btn-produto-marketing{
   margin: 20px 20px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   font: normal 600 1em 'Poppins', sans-serif;
   border: 2px solid #FFFFF6;
   color: white;
   width: 50vw;
   text-align: justify;
 }

 #btn-produto-marketing:hover{
  background-color: var(--blue);
  border: none;
  transition: 0.3s ease-in;
}

#whey-produto{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -75%);
  width: 80vw;
  padding-bottom: 0px;
  filter: drop-shadow(0px 20px 27px rgba(0, 0, 0, 0.10));
}

.produtos-carousel{
  height: 60vh;
  background-color: white;
}

#titulo-carousel-produto{
  padding: 40px 30px;
  text-align: center;
}



.login { display: none; }
#imgProfile { display: none; }